/*
 * bottom_right
 */
.popup_notification-position-bottom_right.popup_notification-container {
    padding-top: 0;
}

.popup_notification-position-bottom_right.popup_notification-action {
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s, bottom .5s;
}

.popup_notification-position-bottom_right.popup_notification-show {
    opacity: 1;
}

/*
 * top
 */
.popup_notification-position-top.popup_notification-container {
    display: flex;
    padding-bottom: 0;
}

.popup_notification-position-top.popup_notification-action {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s, top .5s;
}

.popup_notification-position-top.popup_notification-show {
    opacity: 1;
}
